# Python  Intro

In [1]:
print("Welcome to DMDW")

Welcome to DMDW

## Data Types

In [2]:
print(type("lemonade"))
print(type(40))
print(type(40.0))
print(type([1,2,3]))
print(type({"a":1, "b":2}))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>

### String

In [3]:
kampus = "universitas kristen indonesia maluku (UKIM)"

In [4]:
kampus[0]

'u'

In [5]:
kampus[0:20]

'universitas kristen '

In [6]:
kampus.upper()

'UNIVERSITAS KRISTEN INDONESIA MALUKU (UKIM)'

In [7]:
kampus.title()

'Universitas Kristen Indonesia Maluku (Ukim)'

In [8]:
kampus_per_kata = kampus.split()
kampus_per_kata

['universitas', 'kristen', 'indonesia', 'maluku', '(UKIM)']

### Numerik

In [9]:
variable1 = 4
variable2 = 2

In [10]:
variable1 * variable2

8

In [11]:
variable1 ** variable2

16

In [12]:
72 % 10

2

### Latihan

In [14]:
name = 'Johan' #string
age = 24 #integer
place = 'Ambon' #string 
favorite_food = 'Rujak' #string
dog_years_age = age * .5 #float
student = False #boolean

print(f'✨Ini adalah...{name}!✨')

print(f"""{name} suka {favorite_food} and pernah tinggal di {place}.
{name} berusia {age} tahun, yang adalah {dog_years_age} usia anjingnya.
Pernyataan kalau '{name} adalah mahasiswa adalah {student}.""")

✨Ini adalah...Johan!✨
Johan suka Rujak and pernah tinggal di Ambon.
Johan berusia 24 tahun, yang adalah 12.0 usia anjingnya.
Pernyataan kalau 'Johan adalah mahasiswa adalah False.

### List

In [26]:
nama = ['Ayu', 'Joe', 'Amanda', 'Rohaya']

In [27]:
print(nama[0])
print(nama[2])
print(nama[-1])

Ayu
Amanda
Rohaya

In [28]:
nama.sort(reverse=False)
nama

['Amanda', 'Ayu', 'Joe', 'Rohaya']

In [29]:
usia = [19, 28, 30, 60]
usia.sort(reverse=True)
usia

[60, 30, 28, 19]

### Dict

In [30]:
manusia1 = {"nama": "Ayu",
             "usia": 28,
             "kelamin": "wanita",
             "status": "menikah"}

manusia2 = {"nama": "Joe",
             "usia": 22,
             "kelamin": "pria",
             "status": "belum menikah"}

In [31]:
type(manusia1)

dict

In [32]:
print(manusia1.keys())
print(manusia1.values())

dict_keys(['nama', 'usia', 'kelamin', 'status'])
dict_values(['Ayu', 28, 'wanita', 'menikah'])

In [33]:
manusia1["usia"]

28

In [34]:
manusia1["usia"] = 24
manusia1

{'kelamin': 'wanita', 'nama': 'Ayu', 'status': 'menikah', 'usia': 24}

## Loop

In [35]:
for n in nama:
  print("Nama orang adalah", n)

Nama orang adalah Amanda
Nama orang adalah Ayu
Nama orang adalah Joe
Nama orang adalah Rohaya

In [36]:
for u in usia:
  print(u * 2)

120
60
56
38

## Function

In [38]:
def lagu(nama):
  print("Happy Birthday to you")
  print("Happy Birthday to you")
  print("Happy Birthday dear human life form")
  print("Happy Birthday to", nama)
  return 

lagu("Susanto")

Happy Birthday to you
Happy Birthday to you
Happy Birthday dear human life form
Happy Birthday to Susanto

# Similarity

## EUCLIDEAN DISTANCE

## MANHATTAN DISTANCE

## MINKOWSKI DISTANCE

## COSINE SIMILARITY

## JACCARD SIMILARITY